.room-info-searchbar {
	width: 900px;
	padding-left: 150px;
    padding-top: 150px;
}


.room-info-table {
	width: 715px;
	height: 72px;
	margin: auto;
    padding-top: 50px;
}

.dashboard-logo-image {
	width: 200px;
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}